.search {
    width: 100%;
    height: 100%;
    margin-top: 12em;
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.search__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search__inner h1 {
    color: white;
    text-align: center;
}

.search__inner .search__title {
    color: white;
    text-align: center;
}

.search__inner .search__box {
    width: 50%;
}

.search__inner .search-bar {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 60px;
}

.region-select {
    width: 10%;
}

.region-select select {
    cursor: pointer;
    height: 100%;
    padding: 0 20px;
    border-right: none;
    border-radius: 50px 0 0 50px;
    outline: none;
    font-size: 14px;
    color: var(--color-text);
    border-top: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
    background: var(--color-background-input);
}

.search-input-wrapper {
    display: flex;
    position: relative;
    flex-grow: 1;
    height: 100%;
}

.search-input-wrapper input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 36px 0 20px;
  color: var(--color-text);
  border: 1px solid var(--color-border);
  background: var(--color-background-input);
  border-left: none;
  border-radius: 0 50px 50px 0;
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
}

.search-button {
    width: 50px;
    height: 50px;
    background-color: var(--color-background-input);
}